extends layout

block content
    div.books-header
        h1.books-title Library
        .books-info
            h3(class="total-books header-btns") Total Books: #{bookLength}
            a(class="books-button header-btns",href='/books/new') Create New Book
        form.search-form
            .search-container
                div.search
                    h3 Search
                    div
                        a(class="search-options", href="/books/search") Book
                        a(class="search-options", href="/authors/search") Author
                        a(class="search-options", href="/genres/search") Genre
                        a(class="search-options", href="/years/search") Year
            
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td.book
                        a(href=`/books/${book.id}`)= book.title
                    td.author= book.author
                    td.genre= book.genre
                    td.year= book.year

    .pagination
        a(class="prev-btn", href=`/books/previous=${previous}`) Previous
        a(class="next-btn", href=`/books/next=${next}`) Next