extends ../layout

block content
    div.books-header
        h1.books-title= title
        .books-info
            h3(class="total-books header-btns") Total Books: #{bookLength}
            a(class="books-button header-btns",href='/books/new') Create New Book
            a(class="search-home header-btns", href="/") HOME                            
        include category-search   
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td.book.search-book
                        a(href=`/books/${book.id}`)= book.title
                    td.author.search-author= book.author
                    td.genre.search-genre= book.genre
                    td.year.search-year= book.year